name: my_custom_dialog
description: "A new Flutter package for custom dialogs."
version: 0.0.1
repository: https://github.com/sangvaleap/my_custom_dialog

environment:
  sdk: ^3.9.0
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true

