name: my_custom_dialog
description: A Flutter package to display a set of custom dialogs including message dialog, confirmation dialog, options dialog, and input dialog. 
 These dialogs are designed to be reusable and customizable for various applications.
version: 0.0.2
repository: https://github.com/sangvaleap/my_custom_dialog

environment:
  sdk: ^3.9.0
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true

